.everyone {
  text-align: center;
}

.validate {
  color: red;
  font-size: 1em;
}

#rules {
  z-index: 3;
  position: sticky;
}

.delete-button {
  color: red;
}

.delete-button:hover {
  color: rgb(138, 0, 0);
  cursor: pointer;
}
