.app-container {
  /* margin: 10px; */
  display: flex;
  flex-wrap: wrap;
}

.control-container {
  padding: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
}

.control-container-points {
  top: 0px;
  width: 100%;
}

.scores-container {
  padding: 15px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-x: auto;
}

.counter-container {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  margin: 10px;
  min-height: 150px;
  max-height: 350px;
}
.counter-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.counter-name {
  background-color: rgb(212, 211, 211);
  height: 50px;
  font-size: 2rem;
  text-align: center;
  overflow-y: auto;
}

.counter-value {
  font-size: 8rem;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .control-container {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    height: auto;
  }

  .control-container-points {
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .scores-container {
    width: 100%;
    height: auto;
  }

  .counter-container {
    width: 100%;
    min-height: 150px;
  }

  .person {
    height: 150px;
    width: 300px;
  }
  .title {
    /* height: 80px; */
    overflow: scroll;
  }
}

.validate {
  color: red;
  font-size: 1em;
}

#rules {
  z-index: 3;
  position: -webkit-sticky;

  position: sticky;
}

.title {
  text-align: center;
  width: 100%;
  overflow-y: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  height: 60px;
}

.delete-container {
  text-align: center;
  margin-top: 5px;
}

.delete-button {
  color: red;
}

.delete-button:hover {
  color: rgb(138, 0, 0);
  cursor: pointer;
}

.person {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.add-counter-container {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;

  position: sticky;
  right: 0px;
  margin: 0px 20px;
}

#add-counter:hover {
  background-color: #6c757c;
}
#add-counter {
  width: 95px;
  height: 100%;
  background-color: white;
}
